header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #3b5999;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
  }

body {
  background-color: #fbfffb;
  color: #000000;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 200%
}

.aboutme {
  font-size: 22px;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 80vh;
  align-content: center;
}

.aboutme img{
  padding: 30px;
  min-height: 100px;
  min-width: 100px;
}
.aboutme h1{
  padding: 2%;
  text-underline-position:below ;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }

nav a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.footer {

}

.footer ul {
  padding: 20px;
    list-style-type: none;
    margin: 0;
    text-align: center;
}
.footer li {
  display: inline;
  text-align: center;
  margin: auto;
  width: 640px; 
  padding: 50px;
  font-size: 22px;
  font-weight: 500;
}

.footer h1 {
  padding-bottom: 50px;
}