header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #4e4e53;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
  }

header h1 {

}

.aboutme {
  text-align: left;
  font-family: sans-serif;
  font-size: 22px;
}

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  nav a {
    color: #f50000;
    font-weight: bold;
    text-decoration: none;
  }

  h1 {
    font-size: 200%
  }

  .card {

  }